[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
scrape = "python scraper/sam_scraper.py"

[dev-packages]
autopep8 = "*"
pylint = "*"
ipykernel = "*"
jupyter = "*"
beautifulsoup4 = "*"
pdfminer = "*"
selenium = "*"

[packages]

[requires]
python_version = "3.8"
